In [1]:
import numpy as np
import pandas as pd

In [22]:
# Get The data
rawData = pd.read_csv(('weatherAUS.csv'))
rawData.head(10)
rawData.columns


validationData = rawData.sample(frac = 0.4, ignore_index = True)
validationData.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2014-12-02,Adelaide,14.3,29.3,0.0,3.8,NaN,ENE,24.0,SSW,...,53.0,35.0,1010.0,1008.9,NaN,NaN,20.7,27.5,No,No
1,2014-01-29,Moree,17.1,34.8,0.0,8.6,13.2,ESE,41.0,E,...,46.0,21.0,1017.4,1012.1,1.0,1.0,23.4,32.7,No,No
2,2009-04-03,Cobar,21.0,32.8,0.0,6.8,10.3,N,31.0,ENE,...,60.0,36.0,1018.0,1014.8,2.0,6.0,23.6,30.9,No,No
3,2017-03-21,NorahHead,22.7,28.9,0.0,NaN,NaN,NE,35.0,NNE,...,97.0,85.0,1015.6,1012.6,NaN,NaN,23.4,26.9,No,Yes
4,2015-01-02,Nuriootpa,17.5,41.8,0.0,10.4,13.2,NNW,44.0,N,...,9.0,5.0,1010.1,1007.4,3.0,3.0,33.8,40.9,No,No
5,2009-06-06,Portland,5.2,13.3,0.2,1.0,0.0,ENE,22.0,NNE,...,96.0,80.0,1011.4,1007.9,7.0,6.0,7.7,11.8,No,Yes
6,2013-01-09,Albany,20.1,22.6,0.0,6.4,9.9,NaN,NaN,WSW,...,81.0,62.0,1010.2,1008.7,6.0,4.0,20.4,21.9,No,No
7,2017-03-08,Cobar,18.4,30.9,0.0,NaN,NaN,ESE,35.0,E,...,51.0,25.0,1015.1,1012.5,1.0,NaN,20.5,29.4,No,No
8,2013-09-15,Sydney,12.8,18.8,0.0,4.0,6.2,WSW,33.0,S,...,74.0,66.0,1018.4,1016.3,7.0,5.0,16.4,17.9,No,Yes
9,2009-08-13,NorahHead,10.5,19.6,0.0,NaN,NaN,WNW,28.0,WNW,...,56.0,58.0,1014.1,1011.7,NaN,NaN,15.4,17.4,No,No