In [1]:
import numpy as np
import pandas as pd

In [18]:
# Get The data
rawData = pd.read_csv(('weatherAUS.csv'))
rawData.head(10)
rawData.columns


validationData = rawData.sample(frac = 0.4, ignore_index = True)
validationData.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2015-03-27,Williamtown,8.7,26.4,0.0,NaN,NaN,W,37.0,WNW,...,44.0,18.0,1021.5,1018.0,NaN,NaN,15.6,25.2,No,No
1,2009-04-18,Richmond,10.2,23.5,0.0,NaN,NaN,ESE,31.0,NaN,...,77.0,45.0,1020.6,1017.6,NaN,NaN,17.0,23.0,No,No
2,2013-03-02,MountGambier,11.3,30.0,0.0,7.0,12.0,E,56.0,E,...,61.0,22.0,1025.0,1020.5,0.0,0.0,17.2,29.4,No,No
3,2015-02-08,MountGinini,13.2,24.0,0.0,NaN,NaN,WSW,39.0,WSW,...,56.0,40.0,NaN,NaN,NaN,NaN,16.6,22.8,No,No
4,2015-02-09,GoldCoast,20.8,30.2,0.0,NaN,NaN,SSE,54.0,SSE,...,62.0,60.0,1019.6,1019.0,NaN,NaN,27.5,28.4,No,Yes